# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# File extension for compiled Command Line Dart app entrypoint
bin/*.exe

# Directory created by dartdoc
doc/api/
